<!-- views/ihm/fileselector.ejs -->

<div class="gpao-params">
    <label for= "<%=content['Key'] %>"> <%=content['Name'] %> </label>
    <input type="file" id=" <%= content['Key'] %> " name=" <%= content['key'] %>"/>
</div>
