<!-- views/ihm/folderselector.ejs -->

<div class="gpao-params">
    <label for="<%=content['Key']%>"> <%=content['Name']%> </label>
    <input type="file" id="<%=content['Key']%>" name="<%=content['Key']%>" webkitdirectory directory/>

</div>
