<!-- views/ihm/lineedit.ejs -->

<% if (custom_style == 'p') { %>
    <p>
<% } else {%>
    <a>
<% } %>

    <label for= "<%=content['Key'] %>"> <%=content['Name'] %> </label>
    <input type="text" value="<%=content['Value']%>" name="<%=content['Name']%>"></input>
    
<% if (custom_style == 'p') { %>
    </p>
<% } else {%>
    </a>
<% } %>
    
