<!-- views/ihm/lineedit.ejs -->

<div class="gpao-params">
    <label for= "<%=content['Key'] %>"> <%=content['Name'] %> </label>
    <input type="text" value="<%=content['Value']%>" name="<%=content['Name']%>"></input>
</div>
