<!-- views/ihm/page.ejs -->

<div id=tab<%=numpage%> > <a href="#tab<%=numpage%>" ><%=content['Name']%> </a>

<div>

<% if (content.hasOwnProperty('content')) { %>
    <%- include ("./readJsonContent", {content:content['content']} ) %>
<% } %>

</div>
</div>
